In [1]:
import json
import pandas as pd
from pprint import pprint

In [2]:
# reading json line files
with open('predictions.jsonl', 'r') as f:
    f = f.readlines()

In [4]:
len(f)

50

In [6]:
# predicted label list
predictedLabels = []
# looping through json lines
for i in f:
    # casting str json to json
    j = json.loads(i)["Classes"]
    # fetching class with maximum score
    predictedLabels.append(j[0]['Name'])

In [7]:
print(predictedLabels)

['football', 'football', 'athletics', 'rugby', 'rugby', 'football', 'football', 'rugby', 'rugby', 'football', 'football', 'rugby', 'football', 'rugby', 'football', 'football', 'football', 'rugby', 'athletics', 'rugby', 'football', 'football', 'rugby', 'rugby', 'rugby', 'football', 'football', 'rugby', 'athletics', 'football', 'football', 'football', 'rugby', 'football', 'athletics', 'rugby', 'rugby', 'football', 'rugby', 'football', 'football', 'football', 'football', 'football', 'football', 'rugby', 'rugby', 'football', 'football', 'rugby']

In [8]:
# reading test document
df_test = pd.read_csv("test.csv", header=None)
# assigning header
df_test.columns = ["Document"]

In [9]:
# creating new column and mapping/assigning label
df_test["PredictedLabel"] = predictedLabels

In [10]:
df_test.head()

                                            Document PredictedLabel
0  Mobiles get set for visual radio  The growth i...       football
1  Election deal faltered over Heath role  The To...       football
2  AstraZeneca hit by drug failure  Shares in Ang...      athletics
3  Carry On star Patsy Rowlands dies  Actress Pat...          rugby
4  Cairn shares slump on oil setback  Shares in C...          rugby

In [11]:
# readinf test truth file
df_truth = pd.read_csv("test_truth.csv", header=None)
# assigning header
df_truth.columns = ["TruthLabel", "Document"]

In [12]:
df_truth.head()

                                          TruthLabel       Document
0  Bangkok film festival battles on  Organisers o...  entertainment
1  Format wars could 'confuse users'  Technology ...           tech
2  Microsoft makes anti-piracy move  Microsoft sa...           tech
3  Actress Roberts takes spider role  Actress Jul...  entertainment
4  Gamers could drive high-definition  TV, films,...           tech

In [13]:
# merging both dataframe on Document column
mergeDf = pd.merge(df_test, df_truth, on=["Document"], how="inner")

In [14]:
mergeDf.head()

Empty DataFrame
Columns: [Document, PredictedLabel, TruthLabel]
Index: []

In [ ]:
# checking/comparing two columns
mergeDf.PredictedLabel == mergeDf.TruthLabel

In [ ]:
mergeDf[mergeDf.PredictedLabel == mergeDf.TruthLabel].count()